*{
    padding: 0%;
    margin: 0%;
    color: #fff;
    font-family: 'Poppins', sans-serif;

}
body {
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    background-image: url('https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg');
}

.main-container {
    height: 100%;
    width: 100%;
    background-color:  rgba(52, 52, 175, 0.6);    
}

##title{    
    font-weight: 400;
    line-height: 1.2; 
    padding-top: 60px;
   
}

.align-center{
    text-align: center;
}